<nz-collapse id="finished-nz-collapse">
  <!--单选题面板-->
  <nz-collapse-panel
          [nzHeader]="'选择题'"
          [nzActive]="true"
          [nzDisabled]="false">

    <!--单选题列表-->
    <ol>
      <li
              *ngFor="let finishedMultiple of finishedMultiples"
              class="multiple">
        <!--        <button nz-button nzType="default" (click)="deleteMultiple(multiple.assignmentLongId)">删除题目</button>-->
        <div class="title item" [innerHTML]="finishedMultiple.title"></div>
        <div class="options item">
          <div>
            <span>A. </span><span class="optionA"> {{finishedMultiple.optionA}}</span>
          </div>
          <div>
            <span>B. </span><span class="optionB"> {{finishedMultiple.optionB}}</span>
          </div>
          <div>
            <span>C. </span><span class="optionC"> {{finishedMultiple.optionC}}</span>
          </div>
          <div>
            <span>D. </span><span class="optionD"> {{finishedMultiple.optionD}}</span>
          </div>
        </div>
        <div>
          <span><b>作答情况：</b></span>
          <span>{{finishedMultiple.answer}}</span>
        </div>
        <div class="correct_answer item">
          <span><b>正确答案：</b></span>
          <span>{{finishedMultiple.correct_answer}}</span>
        </div>
        <div *ngIf="finishedMultiple.answer !== '未作答'">
          <span><b>完成时间：</b></span>
          <span>{{finishedMultiple.submit_time | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
        </div>
        <!--<div class="number item">-->
          <!--<span><b>正确率：</b></span>-->
          <!--<span class="correct_number">{{multiple.correct_number}}</span>-->
          <!--<span> / </span>-->
          <!--<span class="number">{{multiple.number}}</span>-->
        <!--</div>-->
        <!--<button nz-button nzType="primary" style="margin-top: 10px" (click)="deleteQuestion()">删除题目</button>-->

        <!--分割线-->
        <nz-divider></nz-divider>

      </li>
    </ol>

  </nz-collapse-panel>

  <!--简答题面板-->
  <nz-collapse-panel
          [nzHeader]="'简答题'"
          [nzActive]="false"
          [nzDisabled]="false">

    <!--简答题列表-->
    <ol>
      <li *ngFor="let finishedShort of finishedShorts" class="short">
        <!--        <button nz-button nzType="default" (click)="deleteShort(short['assignmentLongId'])">删除题目</button>-->
        <div class="title item" [innerHTML]="finishedShort.title"></div>

        <div class="answer item">
          <span><b>作答情况：</b></span>
          <!--          <span>{{short['correct_answer']}}</span>-->
          <!--<span [innerHTML]="finishedShort.answer"></span>-->
          <nz-list-item [nzContent]="finishedShort.answer"></nz-list-item>
        </div>

        <div class="correct_answer item">
          <span><b>正确答案：</b></span>
          <!--          <span>{{short['correct_answer']}}</span>-->
          <!--<span [innerHTML]="finishedShort.correct_answer"></span>-->
          <nz-list-item [nzContent]="finishedShort.correct_answer"></nz-list-item>
        </div>
        <div *ngIf="finishedShort.answer !== '未作答'">
          <span><b>完成时间：</b></span>
          <span>{{finishedShort.submit_time | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
        </div>


        <nz-divider></nz-divider>

      </li>
    </ol>

  </nz-collapse-panel>


  <!--判断题面板-->
  <nz-collapse-panel
          [nzHeader]="'判断题'"
          [nzActive]="false"
          [nzDisabled]="false">

    <!--判断题列表-->
    <ol>
      <li *ngFor="let finishedJudge of finishedJudges" class="short">
        <!--        <button nz-button nzType="default" (click)="deleteJudge(judge.assignmentLongId)">删除题目</button>-->
        <div class="title item" [innerHTML]="finishedJudge.title"></div>

        <div class="answer item">
          <span><b>作答情况：</b></span>
          <span>{{finishedJudge.answer}}</span>
        </div>
        <div class="correct_answer item">
          <span><b>正确答案：</b></span>
          <span>{{finishedJudge.correct_answer=='T' ? '正确': '错误'}}</span>
        </div>
        <div *ngIf="finishedJudge.answer !== '未作答'">
          <span><b>完成时间：</b></span>
          <span>{{finishedJudge.submit_time | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
        </div>
        <nz-divider></nz-divider>

      </li>
    </ol>

  </nz-collapse-panel>
</nz-collapse>


